@page
@model IndexModel
@{ ViewData["Title"] = "HTTP TRAFFIC RECORDING"; }

<div id="loading" class="pf-3"></div>
<table class="table table-hover" id="http-log">
    <thead class="thead-light">
        <tr>
            <td style="width: 15%;">Time</td>
            <td style="width: 10%;">Method</td>
            <td style="width: 25%;">Url</td>
            <td style="width: 50%;">Body</td>
            <td style="width: 10%;">Status</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/traffic.js"></script>
}

@section Styles{ 
<style>
    .json-content {
        max-height: 300px;
        min-height: 300px;
        border: 2px solid #dedede;
        padding: 4px;
        font-size: 10px !important;
        width: 100%;
    }
    #copy-elm {
        border: 0;
    }
</style>
}